<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trueproof.trueproof">

    <application
        android:name=".TrueProofApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrueProof">
        <activity android:name=".activities.UserAgreementActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.SignUpConfirmationActivity" />
        <activity android:name=".activities.LogInActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.MeasurementDetailActivity" />
        <activity android:name=".activities.DistillerySettingsActivity" />
        <activity android:name=".activities.NewBatchActivity" />
        <activity android:name=".activities.BatchDetailActivity" />
        <activity android:name=".activities.BatchListActivity" />
        <activity android:name=".activities.TakeMeasurementActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>